.container
  .row
    .span12.well
      h1 File Server Administration Panel
        p.pull-right
          a.btn.btn-primary Start Sharing
  .row
    .span6 
      h3 Manage users
      ul
        li admin
        li upload
        li normal
        li limited        
    .span6
      h3 Manage files 