b#main-title{
	background:url('../img/icon/library-big.png');
}
div.container-small{	
	width: 500px;
}
body {
	padding-top: 60px;
}
.btn {
	margin-right: 5px;
}
#downloadProgress {
	width: 100%;
}
.btn-download:hover {
	cursor: pointer;
}
#fileTable {
	width: 90%;
}
#col1 {
	width: 70%;
}
#col2 {
	width: 30%;
}